/* SCSS HEX */
$rich-black-fogra-39: #020402ff;
$emerald: #23ce6bff;
$lavender-blush: #ffeaecff;
$amethyst: #9067c6ff;
$sunglow: #ffcb47ff;

/* SCSS HSL */
$rich-black-fogra-39: hsla(120, 33%, 1%, 1);
$emerald: hsla(145, 71%, 47%, 1);
$lavender-blush: hsla(354, 100%, 96%, 1);
$amethyst: hsla(266, 45%, 59%, 1);
$sunglow: hsla(43, 100%, 64%, 1);

/* SCSS RGB */
$rich-black-fogra-39: rgba(2, 4, 2, 1);
$emerald: rgba(35, 206, 107, 1);
$lavender-blush: rgba(255, 234, 236, 1);
$amethyst: rgba(144, 103, 198, 1);
$sunglow: rgba(255, 203, 71, 1);